/target
**/target
Cargo.lock.bak
__pycache__/
*.pyc
.venv/
node_modules/
/verification/reports/*.json
!/verification/reports/.gitkeep

/build
*.so
*.db

/frontend/node_modules
/frontend/dist
*.png
*.svg
!docs/**/*.svg
